.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}



/*top_bar*/
.top_bar {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.top_bar .customer {
    display: flex;
    font-size: 11px;
    font-weight: 400;
    line-height: 30px;
    justify-content: space-between;
}

.top_bar .customer li {
    padding: 0 10px;
}

.top_bar .lf_customer {
    display: flex;
}

.top_bar .lf_customer li {
    border-left: 1px solid #ddd;
}

.top_bar .lf_customer li:hover {
    color: #7AA61B;
}

.top_bar .ri_customer li {
    border-right: 1px solid #ddd;
}

.top_bar .ri_customer li:hover {
    color: #7AA61B;
}

.top_bar .ri_customer {
    display: flex;
}

/*메뉴*/
.header {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 1000;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
}

.header.on {
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.header .header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    transition: 0.5s;
}

.header.on .header_wrap {
    height: 80px;
}

.header h1 {}

.header h1 img {
    display: inline-block;
    margin: 0 0 5px 0;
    height: 100%;
    width: 200px;
}

.mobile_btn {
    display: none;
}

/*메뉴 리스트*/
.gnb {}


.gnb .main_menu {
    display: flex;
}

.gnb .main_menu>li {
    position: relative;
    padding: 0 25px;
}

.gnb .main_menu a {
    display: block;
    color: #444;
    font-size: 16px;
    font-weight: 500;
    color: #444;
    line-height: 120px;
    transition: 0.5s;
}

.gnb .main_menu a:hover {
    color: #7AA61B;
}

.header.on .gnb .main_menu a {
    color: #666;
}

.header.on .gnb .main_menu a:hover {
    color: #7AA61B;
}

/* 메뉴 - 로그인 창 */
.login_area .member {
    display: flex;
    font-size: 20px;
    gap: 10px;
    cursor: pointer;
}


/* ---------- section 1 -main_slide ---------- */
.main_visual {
    position: relative;
    width: 100%;
    height: 700px;
    /* height: calc(100vh - 101px); */
    overflow: hidden;
    color: #fff;
}

.main_visual .itm {
    position: relative;
    min-height: 700px;
    background-repeat: no-repeat;
    background-position: center center;
}

.main_visual .itm.on {
    transition: 4s;
}

.main_visual .itm .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    margin: 0 0 0 -600px;
}




.main_visual .itm01 {
    background-image: url(../images/slide001.jpg);
    background-size: 1920px 900px;
}

.main_visual .itm01::before {
    content: "";
    position: absolute;
    width: 750px;
    height: 700px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
}

.main_visual .itm02 {
    background-image: url(../images/slide002.webp);
    background-size: 1920px 900px;
}

.main_visual .itm02::before {
    content: "";
    position: absolute;
    width: 750px;
    height: 700px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
}

.main_visual .itm03 {
    background-image: url(../images/slide003.jpg);
    background-size: 1920px 900px;
}

.main_visual .itm03::before {
    content: "";
    position: absolute;
    width: 750px;
    height: 700px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
}

.main_visual .itm strong {
    display: block;
    text-indent: -4px;
    font-size: 45px;
    font-weight: 400;
    /* white-space: nowrap; */
    color: #fff;
    line-height: 1.2;
    margin: 0 0 10px 0;
    transform: translate(0, 100px);
    opacity: 0;
}

.main_visual .itm.on strong {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s;
}

.main_visual .itm p {
    width: 350px;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    line-height: 21px;
    line-height: 1.4;
    margin: 0 0 40px 0;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    transform: translate(0, 100px);
    opacity: 0;
}

.main_visual .itm.on p {
    width: 500px;
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s 0.5s;
}

.main_visual .itm .black {
    border: 1px solid #555;
}



/* 화살표 가운데로 배치 다시 하기 */
/* .main_visual .itm .xi-arrow-right {
    vertical-align: middle
} */

.main_visual .itm01 strong {
    font-weight: 400;
}

.main_visual .itm01 strong span {
    font-size: 50px;
    color: #99cf23;
    font-weight: 600;
}

.main_visual .itm01 strong .main_visual .itm01 p {
    color: #fff;
    font-weight: 300;
}

.main_visual .itm02 strong {
    color: #fff;
    font-weight: 400;
}

.main_visual .itm02 strong span {
    font-size: 50px;
    color: #99cf23;
    font-weight: 700;
}

.main_visual .itm02 p {
    color: #fff;
    font-weight: 300;
}

.main_visual .itm03 strong {
    color: #fff;
    font-weight: 400;

}

.main_visual .itm03 span {
    font-size: 50px;
    color: #99cf23;
    font-weight: 700;
}

.main_visual .itm03 p {
    color: #fff;
    font-weight: 300;

}

.main_visual .menu {
    position: absolute;
    bottom: 200px;
    left: 50%;
    display: flex;
    gap: 5px;

    transform: translate(0, 0);
    margin: 0 0 0 -600px;
    padding: 0 15px;
}

.main_visual .menu li {
    position: relative;
    width: 25px;
    color: rgba(0, 0, 0, 1);
}

.main_visual .menu li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #ddd;
    border-radius: 15px;
}

.main_visual .menu li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background: #7AA61B;
    border-radius: 15px;
}

.main_visual .menu li.on::after {
    width: 100%;
    transition: 5s;
}

.main_visual .menu li a {
    display: block;
    color: rgba(255, 255, 255, 0.8);
}

.main_visual .menu li.on a {
    color: #E30613
}

.main_visual .arrows {
    position: absolute;
    top: 69.5%;
    left: 25%;
}

.main_visual .arrows i {
    color: #ddd;
    font-size: 20px;
}

.main_visual .arrows i:hover {
    color: #99cf23;
}





/*----------------section 2 - main_find ----------------*/

.main_find {
    padding: 100px 0;
    position: relative;
}

.main_find .find_tit {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.main_find .find_tit h2 {
    position: relative;
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 20px 0;
    color: #7AA61B;
}

.main_find .find_tit h2::before {
    content: "";
    position: absolute;
    top: -17px;
    left: 0;
    transform: translate(10%, -50%);
    width: 50px;
    height: 1px;
    background: #7AA61B;
}

.main_find .find_tit a {
    font-weight: 500;
}

.main_find .find_tit a:hover {
    color: #7AA61B;

}

.main_find .find_wrap {
    display: flex;
    gap: 10px;
}

.main_find .find_left {
    text-align: left;
}


.main_find .find_left .left_img_box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;

}

.main_find .find_left .left_img_box img {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 0 0 10px 0;
}

.main_find .find_left .left_img_box figure {
    position: relative;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    height: 450px;
}

.main_find .find_left .left_img_box figure:hover {
    border: 1px solid #7AA61B;
}

.main_find .find_left .left_img_box figure strong {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 10px 0;
    line-height: 1.3;
}

.main_find .find_left .left_img_box figure p {
    font-size: 12px;
    margin: 0 0 10px 0;
}

.main_find .find_left .left_img_box figure .link {
    position: absolute;
    bottom: 15px;
    right: 20px;
    transition: 0.5s;
    overflow: hidden;
    opacity: 0;
}

.main_find .find_left .left_img_box figure a {
    margin: 0 0 5px 0;
    font-size: 14px;
    font-weight: 300;
}

.main_find .find_left .left_img_box figure a:hover {
    color: #7AA61B;
    border-bottom: 1px solid #7AA61B;
}

.main_find .find_left .left_img_box figure:hover .link {
    opacity: 1;
}



.service {
    position: absolute;
}

.service .service_wrap {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(-130%, 32.5%);
    width: 100px;
    height: 500px;
    align-items: center;
    justify-content: center;

    z-index: 999;
}

.service .service_wrap .service_tit {
    padding: 15px 20px 15px 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
    /* font-size: 13px; */
    font-weight: 600;
    color: #444;
}

.service .service_wrap .service_tit h2 {
    width: 60px;
    font-size: 15px;
}

.service .service_wrap .service_box {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    color: #fff;
    background: #7AA61B;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    border-bottom: 1px solid #ddd;
    transition: 0.3s;
    cursor: pointer;
}


.service .service_wrap .service_box:hover {
    background: #555;
}

.service .service_wrap .service_box.on {
    background: #555;
}

.service .service_wrap .service_box p {
    font-size: 15px;
    font-weight: 500;
}


/* ------ main_paccel_out ------ */

.main_paccel_out {
    padding: 100px 0;
    position: relative;
    background: #f9f9f9;
}

.main_paccel_out .title {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.main_paccel_out .title h2 {
    position: relative;
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 20px 0;
    color: #7AA61B;
}

.main_paccel_out .title h2::before {
    content: "";
    position: absolute;
    top: -17px;
    left: 0;
    transform: translate(10%, -50%);
    width: 50px;
    height: 1px;
    background: #7AA61B;
}

.main_paccel_out .title a {
    font-weight: 500;
}

.main_paccel_out .title a:hover {
    color: #7AA61B;
}

.main_paccel_out .case {
    overflow: hidden;
}

.main_paccel_out .paccel_out_slide {
    margin: 0 -15px;

}

.main_paccel_out .paccel_out_slide figure {
    padding: 10px;
    margin: 0 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #fff;
}

.main_paccel_out .paccel_out_slide .img_box {
    border-radius: 5px;
    overflow: hidden;
    margin: 0 0 10px 0;
    border: 1px solid #ddd
}

.main_paccel_out .paccel_out_slide .txt_box {
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
}

.main_paccel_out .paccel_out_slide .txt_box .txt_box_top {
    display: flex;
    justify-content: space-between;
}

.main_paccel_out .paccel_out_slide .txt_box .txt_box_top .icon {
    padding: 15px 0 0 0;
}

.main_paccel_out .paccel_out_slide .txt_box .txt_box_top .icon a {
    font-size: 20px;
    padding: 7px 10px 7px 10px;
    border-radius: 10px;
    background: #f2f2f2;
    transition: 0.3s;
}

.main_paccel_out .paccel_out_slide .txt_box .txt_box_top a:hover {
    color: #fff;
    background: #99cf23;
}

.main_paccel_out .paccel_out_slide .txt_box .txt_box_top strong {
    font-size: 14px;
    font-weight: 600;
}

.main_paccel_out .paccel_out_slide .txt_box .txt_box_top p {
    font-size: 13px;
    font-weight: 400;
}

.main_paccel_out .paccel_out_slide .txt_box .txt_box_bt p {
    font-size: 13px;
    font-weight: 300;
}

.main_paccel_out .arrows {
    position: absolute;
    left: 35%;
    top: 16.5%;
    display: flex;
    justify-content: space-between;

    font-size: 25px;
    color: #7AA61B;
    transform: translate(-50%, -50%);
    max-width: 110px;
    width: 100%;

    padding: 0 15px;
}


.main_paccel_out .arrows i:hover {
    color: #555;

}

/* ----------- footer ----------- */
.footer {
    padding: 50px 0;
    background: #fff;
    color: #444;
}

.footer .f_top {
    display: flex;
    justify-content: space-between;
    margin: 0 0 30px 0;
}

.footer .f_top .f_list {
    position: relative;
    display: flex;
    gap: 20px;
    color: #555;
}

.footer .f_top .f_list li~li::before {
    content: "";
    position: absolute;
    top: 2px;
    margin: 0 -10px;
    width: 1px;
    height: 10px;
    background: #ccc;
}

.footer .f_top .f_list .strong {
    font-weight: 600;
    color: #7AA61B;
}

.footer .f_bottom address li {
    margin: 0 0 15px 0;
    font-size: 14px;
}

.footer .f_bottom address .copy {
    margin: 0;
    font-size: 13px;
}

.family_link {
    position: relative;
}

.family_link span {
    display: block;
    padding: 0 15px;
    width: 150px;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: #555;
    user-select: none;
    cursor: pointer;
}

.family_link span i {
    float: right;
    font-size: 14px;
    line-height: 30px;
}


.family_link .fl ul {
    position: absolute;
    display: none;
    flex-direction: column;
    padding: 15px;
    bottom: -140px;
    left: 0;
    right: 0;
    align-items: stretch;
    background: #fff;
    color: #777;
    border: 1px solid #f5f5f5;
    border-radius: 20px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05), 0 4px 10px rgba(0, 0, 0, 0.05);
}

.family_link .fl ul.on {
    display: flex;
}

.family_link .fl ul a {
    padding: 2px 5px 2px 5px;
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #aaa;
    text-align: center;
    line-height: 30px;
    transition: 0.5s;
}

.family_link .fl ul a:hover {
    color: #7AA61B;
}

/*to_top 버튼*/
.to_top {
    position: fixed;
    bottom: 122px;

    right: 145px;
    transform: translate(-26%, 70%);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.to_top.on {
    visibility: visible;
    opacity: 1;
}

.to_top i {
    color: #fff;
    background: #7AA61B;
    padding: 15px;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
}


@media (max-width: 768px) {

    br {
        display: inline-block;
        content: " ";
        padding: 0 2px;
    }

    /*top_bar*/
    .top_bar {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        display: none;
    }

    /*메뉴*/
    .header {
        position: sticky;
        top: 0;
        background: #fff;
        z-index: 1000;
        border-bottom: 1px solid #ddd;
        white-space: nowrap;
    }

    .header.on {
        background: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }

    .header .header_wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        transition: 0.5s;
    }

    .header.on .header_wrap {
        height: 80px;
    }

    .header h1 {
        z-index: 1001;
    }

    .header h1 img {
        display: inline-block;
        margin: 0 0 5px 0;
        height: 100%;
        width: 200px;
    }

    /*메뉴 리스트*/
    .gnb {
        position: fixed;
        width: 100%;
        left: -100%;
        top: 0;
        transition: 0.5s;
    }

    .gnb.on {
        inset: 0 auto 0 0;
    }

    .gnb .main_menu {
        display: flex;
        flex-direction: column;
        background: #fff;
        gap: 0;
        padding: 100px 30px 101% 30px;
    }

    .gnb .main_menu>li {
        position: relative;
        padding: 0 25px;
        /*  */
        line-height: 40px;
    }

    .gnb .main_menu a {
        display: block;
        color: #444;
        font-size: 16px;
        font-weight: 500;
        line-height: 70px;
        transition: 0.5s;
    }

    .gnb .main_menu a:hover {
        color: #7AA61B;
    }

    .header.on .gnb .main_menu a {
        color: #666;
    }

    .header.on .gnb .main_menu a:hover {
        color: #7AA61B;
    }

    /* 메뉴 - 로그인 창 */
    .login_area .member {
        display: flex;
        font-size: 20px;
        gap: 10px;
        cursor: pointer;
        display: none;
    }

    .mobile_btn {
        position: fixed;
        inset: 30px 30px auto auto;
        z-index: 1000;
        width: 30px;
        height: 30px;
        background: #ddd;
        border-radius: 5px;
    }

    .mobile_btn::before,
    .mobile_btn::after {
        content: "";
        position: absolute;
        inset: 14px 5px auto 5px;
        height: 2px;
        background: #444;
    }

    .mobile_btn.on::before {
        transform: rotate(45deg);
        transition: 0.5s 0.2s;
    }

    .mobile_btn.on::after {
        transform: rotate(-225deg);
        transition: 0.5s 0.6s;
    }

    .mobile_btn button {
        border: none;
        outline: none;
        background: transparent;
    }

    .mobile_btn button::before,
    .mobile_btn button::after {
        content: "";
        position: absolute;
        height: 2px;
        background: #444;
    }

    .mobile_btn button::before {
        inset: 7px 5px auto 5px;
    }

    .mobile_btn button::after {
        inset: auto 5px 7px 5px;
    }

    .mobile_btn.on button::before {
        display: none;
    }

    .mobile_btn.on button::after {
        display: none;
    }


    .mobile_btn {
        display: block;
        position: fixed;
        top: 25px;
        right: 25px;
        z-index: 1000;
        border-radius: 5px;
        font-size: 30px;
        color: #444;
        padding: 5px 7px;
        background: #f1f1f1;
    }

    /* ---------- section 1 -main_slide ---------- */
    .main_visual {
        position: relative;
        width: 100%;
        height: 500px;
        /* height: calc(100vh - 101px); */
        overflow: hidden;
        color: #fff;
    }

    .main_visual .itm {
        position: relative;
        min-height: 500px;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .main_visual .itm.on {
        transition: 4s;
    }

    .main_visual .itm .inner {
        position: absolute;
        top: 80%;
        left: 225%;
        transform: translate(-50%, -50%);
        margin: 0 0 0 -600px;
    }

    .main_visual .itm02 .inner {
        position: absolute;
        top: 85%;
        left: 225%;
        transform: translate(-50%, -50%);
        margin: 0 0 0 -600px;
    }

    .main_visual .itm01 {
        background-image: url(../images/slide001.jpg);
        background-size: 1920px 900px;
    }

    .main_visual .itm01::before {
        content: "";
        position: absolute;
        width: 770px;
        height: 700px;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(6px);
        display: none;
    }

    .main_visual .itm02 {
        background-image: url(../images/slide002.webp);
        background-size: 1920px 900px;
    }

    .main_visual .itm02::before {
        content: "";
        position: absolute;
        width: 770px;
        height: 700px;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(6px);
        display: none;
    }

    .main_visual .itm03 {
        background-image: url(../images/slide003.jpg);
        background-size: 1920px 900px;
    }

    .main_visual .itm03::before {
        content: "";
        position: absolute;
        width: 770px;
        height: 700px;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(6px);
        display: none;
    }

    .main_visual .itm strong {
        display: block;
        text-indent: -4px;
        font-size: 40px;
        font-weight: 400;
        /* white-space: nowrap; */
        color: #fff;
        line-height: 1.2;
        margin: 0 0 10px 0;
        transform: translate(0, 100px);
        opacity: 0;
    }

    .main_visual .itm.on strong {
        transform: translate(0, 0);
        opacity: 1;
        transition: 0.5s;
    }

    .main_visual .itm p {
        width: 350px;
        font-size: 16px;
        font-weight: 300;
        color: #fff;
        line-height: 21px;
        line-height: 1.4;
        margin: 0 0 40px 0;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
        transform: translate(0, 100px);
        opacity: 0;
    }

    .main_visual .itm.on p {
        width: 500px;
        transform: translate(0, 0);
        opacity: 1;
        transition: 0.5s 0.5s;
    }

    .main_visual .itm .black {
        border: 1px solid #555;
    }



    /* 화살표 가운데로 배치 다시 하기 */
    /* .main_visual .itm .xi-arrow-right {
        vertical-align: middle
    } */

    .main_visual .itm01 strong {
        font-weight: 400;
    }

    .main_visual .itm01 strong span {
        font-size: 50px;
        color: #99cf23;
        font-weight: 600;
    }

    .main_visual .itm01 strong .main_visual .itm01 p {
        color: #fff;
        font-weight: 300;
    }

    .main_visual .itm02 strong {
        color: #fff;
        font-weight: 400;
    }

    .main_visual .itm02 strong span {
        font-size: 50px;
        color: #99cf23;
        font-weight: 700;
    }

    .main_visual .itm02 p {
        color: #fff;
        font-weight: 300;
    }

    .main_visual .itm03 strong {
        color: #fff;
        font-weight: 400;

    }

    .main_visual .itm03 span {
        font-size: 50px;
        color: #99cf23;
        font-weight: 700;
    }

    .main_visual .itm03 p {
        color: #fff;
        font-weight: 300;
    }

    .main_visual .menu {
        position: absolute;
        bottom: 200px;
        left: 50%;
        display: flex;
        gap: 5px;

        transform: translate(0, 0);
        margin: 0 0 0 -600px;
        padding: 0 15px;
    }

    .main_visual .menu li {
        position: relative;
        width: 25px;
        color: rgba(0, 0, 0, 1);
    }

    .main_visual .menu li::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: #ddd;
        border-radius: 15px;
    }

    .main_visual .menu li::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 4px;
        background: #7AA61B;
        border-radius: 15px;
    }

    .main_visual .menu li.on::after {
        width: 100%;
        transition: 5s;
    }

    .main_visual .menu li a {
        display: block;
        color: rgba(255, 255, 255, 0.8);
    }

    .main_visual .menu li.on a {
        color: #E30613
    }

    .main_visual .arrows {
        position: absolute;
        display: flex;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        justify-content: space-between;
        z-index: 999;
    }

    .main_visual .arrows i {
        border-radius: 50%;
        color: #fff;
        font-size: 50px;
        opacity: 1;
        cursor: pointer;
        transition: 0.5s;
    }


    .main_visual .arrows i:hover {
        color: #99cf23;
    }

    /*----------------section 2 - main_find ----------------*/

    .main_find {
        padding: 100px 0;
        position: relative;
    }

    .main_find .find_tit {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    .main_find .find_tit h2 {
        position: relative;
        font-size: 30px;
        font-weight: 600;
        margin: 0 0 20px 0;
        color: #7AA61B;
    }

    .main_find .find_tit h2::before {
        content: "";
        position: absolute;
        top: -17px;
        left: 0;
        transform: translate(10%, -50%);
        width: 50px;
        height: 1px;
        background: #7AA61B;
    }

    .main_find .find_tit a {
        font-weight: 500;
        font-size: 14px;
        margin: 8px 0 0 0;
    }

    .main_find .find_tit a:hover {
        color: #7AA61B;
    }

    .main_find .find_wrap {
        display: flex;
        gap: 10px;
    }

    .main_find .find_left {
        text-align: left;
    }

    .main_find .find_left .left_img_box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .main_find .find_left .left_img_box img {
        border: 1px solid #ddd;
        border-radius: 10px;
        margin: 0 0 10px 0;
    }

    .main_find .find_left .left_img_box figure {
        position: relative;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 10px;
        height: 450px;
    }

    .main_find .find_left .left_img_box figure:hover {
        border: 1px solid #7AA61B;
    }

    .main_find .find_left .left_img_box figure strong {
        display: inline-block;
        font-size: 15px;
        font-weight: 700;
        margin: 0 0 10px 0;
        line-height: 1.3;
        word-break: keep-all;
    }

    .main_find .find_left .left_img_box figure p {
        font-size: 12px;
        margin: 0 0 10px 0;
        word-break: keep-all;
    }

    .main_find .find_left .left_img_box figure .link {
        position: absolute;
        bottom: 15px;
        right: 20px;
        transition: 0.5s;
        overflow: hidden;
        opacity: 0;
    }

    .main_find .find_left .left_img_box figure a {
        margin: 0 0 5px 0;
        font-size: 11px;
        font-weight: 400;
    }

    .main_find .find_left .left_img_box figure a:hover {
        color: #7AA61B;
        border-bottom: 1px solid #7AA61B;
    }

    .main_find .find_left .left_img_box figure:hover .link {
        opacity: 1;
    }

    .service {
        position: absolute;
    }

    .service .service_wrap {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        transform: translate(-130%, 32.5%);
        width: 100px;
        height: 500px;
        align-items: center;
        justify-content: center;
        z-index: 999;
        display: none;
    }

    .service .service_wrap .service_tit {
        padding: 15px 20px 15px 20px;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 5px 5px 0 0;
        /* font-size: 13px; */
        font-weight: 600;
        color: #444;
    }

    .service .service_wrap .service_tit h2 {
        width: 60px;
        font-size: 15px;
    }

    .service .service_wrap .service_box {
        display: flex;
        flex-direction: column;
        width: 100px;
        height: 100px;
        color: #fff;
        background: #7AA61B;
        border-radius: 5px;
        text-align: center;
        justify-content: center;
        border-bottom: 1px solid #ddd;
        transition: 0.3s;
        cursor: pointer;
    }

    .service .service_wrap .service_box:hover {
        background: #555;
    }

    .service .service_wrap .service_box.on {
        background: #555;
    }

    .service .service_wrap .service_box p {
        font-size: 15px;
        font-weight: 500;
    }

    /* ------ main_paccel_out ------ */

    .main_paccel_out {
        padding: 100px 0;
        position: relative;
        background: #f9f9f9;
    }

    .main_paccel_out .title {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    .main_paccel_out .title h2 {
        position: relative;
        font-size: 30px;
        font-weight: 600;
        margin: 0 0 20px 0;
        color: #7AA61B;
    }

    .main_paccel_out .title h2::before {
        content: "";
        position: absolute;
        top: -17px;
        left: 0;
        transform: translate(10%, -50%);
        width: 50px;
        height: 1px;
        background: #7AA61B;
    }

    .main_paccel_out .title a {
        font-size: 14px;
        font-weight: 500;
        margin: 8px 0 0
    }

    .main_paccel_out .title a:hover {
        color: #7AA61B;
    }

    .main_paccel_out .case {
        overflow: hidden;
    }

    .main_paccel_out .paccel_out_slide {
        margin: 0 -15px;
    }

    .main_paccel_out .paccel_out_slide figure {
        padding: 10px;
        margin: 0 15px;
        border: 1px solid #ddd;
        border-radius: 10px;
        background: #fff;
    }

    .main_paccel_out .paccel_out_slide .img_box {
        border-radius: 5px;
        overflow: hidden;
        margin: 0 0 10px 0;
        border: 1px solid #ddd
    }

    .main_paccel_out .paccel_out_slide .txt_box {
        display: flex;
        padding: 10px;
        flex-direction: column;
        gap: 10px;
    }

    .main_paccel_out .paccel_out_slide .txt_box .txt_box_top {
        display: flex;
        justify-content: space-between;
    }

    .main_paccel_out .paccel_out_slide .txt_box .txt_box_top .icon {
        padding: 15px 0 0 0;
    }

    .main_paccel_out .paccel_out_slide .txt_box .txt_box_top .icon a {
        font-size: 20px;
        padding: 7px 10px 7px 10px;
        border-radius: 10px;
        background: #f2f2f2;
        transition: 0.3s;
    }

    .main_paccel_out .paccel_out_slide .txt_box .txt_box_top a:hover {
        color: #fff;
        background: #99cf23;
    }

    .main_paccel_out .paccel_out_slide .txt_box .txt_box_top strong {
        font-size: 14px;
        font-weight: 600;
    }

    .main_paccel_out .paccel_out_slide .txt_box .txt_box_top p {
        font-size: 13px;
        font-weight: 400;
    }

    .main_paccel_out .paccel_out_slide .txt_box .txt_box_bt p {
        font-size: 13px;
        font-weight: 300;
    }

    .main_paccel_out .arrows {
        position: absolute;
        left: 50%;
        top: 40%;
        display: flex;
        justify-content: space-between;

        font-size: 25px;
        color: #fff;
        transform: translate(-50%, -50%);
        max-width: 100%;
        width: 100%;

        padding: 0 15px;
    }

    .main_paccel_out .arrows i {
        padding: 20px 5px;
        background: rgba(0, 0, 0, 0.2);
    }

    .main_paccel_out .arrows i:hover {
        color: #fff;
    }

    /* ----------- footer ----------- */
    .footer {
        padding: 50px 15px;
    }

    .footer .f_top .f_list {
        display: flex;
        flex-direction: column;
    }

    .footer .f_top .f_list li {
        font-size: 14px;
    }

    .footer .f_top .f_list li~li::before {
        display: none;
    }

    .family_link .fl span {
        color: #666;
        width: 125px;
        font-size: 14px;
    }

    .family_link .fl ul {
        bottom: -15px;
    }

    .footer .f_bottom address li {
        font-size: 13px;
    }

    /*to_top 버튼*/
    .to_top {
        position: fixed;
        bottom: 32px;
        right: -12px;
        transform: translate(-26%, 70%);
        z-index: 999;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
    }

    .to_top.on {
        visibility: visible;
        opacity: 1;
    }

    .to_top i {
        color: #fff;
        background: #7AA61B;
        padding: 10px;
        font-size: 25px;
        border-radius: 0;
        cursor: pointer;
    }

}